{% extends 'basic.html' %}
{% block title %}About Us- GlobeTrekker{% endblock %}
{% block body %}
{% load static %}
    <!-- header ends -->

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14" style="background-image: url( {% static 'images/bg/bg1.jpeg' %} );">
        <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url( {% static 'images/shape8.png' %} );"></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h1 class="mb-3">About Us</h1>
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- about-us starts -->
    <section class="about-us pt-6" style="background-image:url( {% static 'images/background_pattern.png' %} ); background-position:bottom right;">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 ps-4">
                        <div class="about-content text-center text-lg-start">
                            <h4 class="theme d-inline-block mb-0">Get To Know Us</h4>
                            <h2 class="border-b mb-2 pb-1">Explore All Tour of the world with us.</h2>
                            <p class="border-b mb-2 pb-2"> <p><b>GlobeTrekker</b> is a travel and tourism website that offers a comprehensive platform for travelers to discover, plan, and book their dream vacations. The website offers a wide range of travel packages, including flights, hotels, and tours, which are tailored to meet the needs of different types of travelers. With its intuitive user interface, GlobeTrekker provides a seamless experience for users to browse and book their travel itineraries.</p>
<p>One of the unique features of GlobeTrekker is its personalized travel planning service. This service is designed to cater to travelers who require customized travel itineraries to meet their specific needs. The website's team of travel experts works closely with each customer to understand their preferences, budget, and travel goals, and then creates a tailor-made itinerary that includes all the elements necessary to make their trip a success.</p>
<p>GlobeTrekker also offers a variety of travel resources, including destination guides, travel tips, and a blog that covers a wide range of travel-related topics. This information is invaluable for travelers who are looking for inspiration or advice on their upcoming trips.</p>
<p>Overall, <b>GlobeTrekker</b> is a reliable and user-friendly travel website that is ideal for anyone looking to plan and book their next vacation. Its range of travel packages, personalized planning service, and wealth of travel resources make it a must-visit site for anyone looking to embark on their next adventure.</p></p>

                        </div>
                    </div>
                    <div class="col-lg-6 mb-4 pe-4">
                        <div class="about-image" style="animation:none; background:transparent;">
                            <img src=" {% static 'images/travel.png' %} " alt="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Counter -->

                        <!-- End Counter -->
                    </div>
                </div>
            </div>
        </div>
        <div class="white-overlay"></div>
    </section>
    <!-- about-us ends -->

    <!-- about-us starts -->

            <!-- why us ends -->
        </div>
        <div class="white-overlay"></div>
    </section>
    <!-- about-us ends -->

    <!-- top Destination starts -->


    <!-- about-us starts -->
    <section class="about-us pt-0" style="background-image:url( {% static 'images/bg/bg-trans.png' %} );">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 mb-4 pe-4">
                        <div class="about-image overflow-hidden">
                            <img src=" {% static 'images/travel1.png' %} " alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4 ps-4">
                        <div class="about-content text-center text-lg-start mb-4">
                            <h4 class="theme d-inline-block mb-0">About Us</h4>
                            <h2 class="border-b mb-2 pb-1">Explore All Tour of the world with us.</h2>
                            <p class="border-b mb-2 pb-2"><p><b>GlobeTrekker's Terms and conditions and customer policy </b>outline the guidelines and rules that customers must follow when using the platform. The policies require customers to provide accurate and complete information when making bookings, comply with the terms and conditions of travel suppliers, and make payments promptly. Additionally, GlobeTrekker reserves the right to modify these policies at any time without notice. By using GlobeTrekker, customers agree to adhere to these policies, which are designed to protect both the customers and GlobeTrekker from any potential issues that may arise during the travel booking process.</p></p>
                            <div class="about-listing">
                                <h3>Creator</h3>

                                <h6>Kishan Patel</h6>




                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Counter -->

                        <!-- End Counter -->
                    </div>
                </div>
            </div>
        </div>
        <div class="white-overlay"></div>

    </section>

    <!-- about-us ends -->

    <!-- best tour Starts -->

    <!-- best tour Ends -->

    <!-- Last Minute Deal Starts -->

    <!-- Last Minute Deal Ends -->

    <!-- Discount action starts -->

    <!-- offer Packages Starts -->

    <!-- offer Packages Ends -->

    <!-- our teams starts -->


    <!-- testomonial start -->

    <!-- testimonial ends -->

    <script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/particles.js' %} "></script>
    <script src=" {% static 'js/particlerun.js' %} "></script>
    <script src=" {% static 'js/plugin.js' %} "></script>
    <script src=" {% static 'js/main.js' %} "></script>
    <script src=" {% static 'js/custom-swiper.js' %} "></script>
    <script src=" {% static 'js/custom-nav.js' %} "></script>

   {% endblock %}